/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.montserrat-normal {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.montserrat-bold {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.fraunces-bold {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
}

/* RESET */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


:root {
  --clr-primary-green-500: hsl(158, 36%, 37%);
  --clr-primary-green-700: hsl(158, 42%, 18%);
  --clr-neutral-black: hsl(212, 21%, 14%);
  --clr-neutral-grey: hsl(228, 12%, 48%);
  --clr-neutral-cream: hsl(30, 38%, 92%);
  --clr-neutral-white: hsl(0, 0%, 100%);

}

/* MAIN */
body {
  color: var(--clr-neutral-black);
  background-color: var(--clr-neutral-cream);
  height: 100vh;
  font-size: 1rem;
  line-height: 1.5;
  align-content: center;
}

.product-card {
  max-width: 375px;
  margin: 2rem auto 4rem auto;
  background-color: var(--clr-neutral-white);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.product-image {
  display: block;
  min-width: 50%;

  & img {
    width: 100%;
    height: auto;
    display: block;
  }
}

.product-details {
  padding: 1.5rem;
  min-width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  & span.overline {
    font-size: 0.75rem;
    text-transform: uppercase;
    color: var(--clr-neutral-grey);
    letter-spacing: 0.3rem;
  }

  & h1 {
    font-size: 2rem;
    line-height: 1.1;
    color: var(--clr-neutral-black);
    margin: 0;
  }

  & p {
    font-size: 0.875rem;
    line-height: 1.7;
    color: var(--clr-neutral-grey);
    letter-spacing: 0.05rem;
    margin: 0;
  }
}

.pricing {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  & .current-price {
    margin-inline-start: 1rem;
    font-size: 2rem;
    color: var(--clr-primary-green-500);
  }

  & .original-price {
    font-size: 0.875rem;
    color: var(--clr-neutral-grey);
    text-decoration: line-through;
  }
}

button.add-to-cart {
  width: 100%;
  padding: 1rem;
  background-color: var(--clr-primary-green-500);
  color: var(--clr-neutral-white);
  border: none;
  border-radius: 8px;
  font-size: 0.85rem;
  cursor: pointer;
  transition: background-color 0.3s ease;

  & img {
    width: 1rem;
    margin-inline-end: 0.5rem;
    vertical-align: text-bottom;
  }

  &:hover {
    background-color: var(--clr-primary-green-700);
  }
}

@media (min-width: 700px) {

  .product-card {
    max-width: 700px;
    display: flex;
    flex-direction: row;
    border-radius: 15px;
  }

  .product-details {
    flex: 1;
    align-self: center;
    padding: 2rem;
    gap: 1.75rem;

    & h1 {
      font-size: 2.5rem;
    }

  }

  .product-image {
    min-width: 50%;
    flex: 1;
    height: auto;
  }

  .product-image img {
    height: 100%;
    object-fit: cover;
  }
}

/* FOOTER */
.attribution {
  width: 100%;
  color: var(--clr-neutral-grey);
  font-size: 11px;
  margin-block: .75rem;
  margin-inline: auto;
  text-align: center;
  position: fixed;
  bottom: 0;
}
